.container {
	display: flex;
	align-items: center;
	gap: 100px;
    overflow:inherit;
}

.imgComtainer {
    height: 500px;
	flex: 1;
	position: relative;
}

.img {
	object-fit: contain;
}

.formContainer {
	flex: 1;
}
.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.form input,
.form textarea {
	padding: 20px;
	border-radius: 5px;
    outline: none;
    border: none;
    background-color: var(--bgSoft);
    color: var(--text);
}

.form button{
    padding: 20px;
    background-color: var(--btn);
    columns: var(--text);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


@media(max-width: 568px){
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    
    }
}