.container{
    width: 100%;
    scroll-behavior: auto;
    scrollbar-color: red;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}
.post{
    margin: auto;
    width: 30%;
}



.blogPost{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    /* background-color: var(-s-bgsoft); */
    border-radius: 5px;
    color: var(--textColor);
}

@media screen and (max-width: 1080px)
{
    .post{
        width: 45%;
    }
}
/* @media screen and (max-width: 1959px)
{
    .post{
        width: 31%;
    }
} */
@media screen and (max-width: 786px)
{
    .post{
        width:100% ;
    }
}